<div class="navbar">
  <div class="greeting">
    <p>Hello</p>
  </div>
  <!--      TODO: conditional rendering of Login/Logout, along with username-->
  <div class="linkbar">
    <p>
      <%= link_to "Login", users_login_path %>
      <%= link_to "Logout", users_logout_path %>
    </p>
  </div>
</div>